<%- include('../../partials/header') %>
  <main class="form-container">
    <div class="form-title">
      <h2>CREA TU CUENTA</h2>
      <p>Completa el formulario para ser parte del mundo de los Funkos</p>
    </div>
    <form action="" class="form-info">
      <label for="name">Nombre</label>
      <input type="text" id="name" class="form-input" placeholder="John" autocomplete="on" />
      <label for="last-name">Apellido</label>
      <input type="text" id="last-name" class="form-input" placeholder="Doe" autocomplete="on" />
      <label for="email">Email</label>
      <input type="email" id="email" class="form-input" placeholder="johndoe@correo.com" autocomplete="on" />
      <label for="password">Contraseña</label>
      <input type="password" id="password" class="form-input" placeholder="*********" />
      <label for="repeat-password">Repita Contraseña</label>
      <input type="text" id="repeat-password" class="form-input" placeholder="*********" />
    </form>
    <div class="form-agreement">
      <button class="btn-form">Registrar</button>
      <input type="checkbox" id="agreement" />
      <label for="agreement" class="terms">Acepto<a href="">Términos y Condiciones</a></label>
    </div>
  </main>
  <%- include('../../partials/footer') %>