.container_admin{
    padding: var(--spacing-68);
}
.search {
    width: 590.88px;
    /* height: 44.28px; */
    top: 180px;
    left: 110px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}
.search__logo {
    Width: 30.8px;
    Height: 30.76px;
    Top: 5.25px;
    Left: 5.25px;
}
.input{
    width: 529.76px;
    height: 44.28px;
    top: 182.28px;
    left: 110px;
    border-radius: 6px;
    border: 1px solid;
}
.container_section{
    width: 1126px;
    height: 928.95px;
    top: 260.28px;
    left: 110px;
}
.add{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
h1{
    font-family: Raleway;
    font-size: var(--font-jumbo);
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.04em;
    /* text-align: left; */
    padding-right: 425px;
}
.addsecond{
    width: 150px;
    height: 52px;
    top: 260.28px;
    left: 1038px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h3{
    font-family: Inter;
    font-size: var(--font-large);
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.04em;
    padding: 6.5px;
}
.add__logo{
    width: 52px;
    height: 52px;
    top: 260.28px;
    left: 1184px;
    padding: 6.5px;
    /* padding-inline-end: 6.5px; */
/* justify-content: left; */
}
.table{
    width: 1093.77px;
    height: 844.45px;
    top: 344.78px;
    left: 137.23px;
    width: 100%; 
    border-collapse: collapse;
    /* padding: auto; */
    display: grid;
    justify-content: space-between;
}
.encabezados, .datos{
    padding: 0px 12px; 
    text-align: center;
}
.encabezados{
    font-family: Inter;
    font-size: var(--spacing-24);
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.04em;
    padding: auto;
}
.encabezados__id{
    width: 26px;
    height: 29px;
    top: 344.78px;
    left: 138.23px;
}
.encabezados__cod{
    width: 100px;
    height: 29px;
    top: 344.78px;
    left: 212.27px;
}
.encabezados__nom{
    width: 311px;
    height: 61px;
    top: 579.61px;
    left: 420.25px;   
    text-align: left;
}
.encabezados__cat{
    width: 200px;
    height: 61px;
    top: 945.36px;
    left: 833px;
}
tr,td{
    gap: var(--spacing-8);
}
.datos{
    font-family: Inter;
    font-size: var(--font-medium);
    font-weight: 500;
    line-height: 61px;
    letter-spacing: 0.04em;
    text-align: center;
}
.datos_nom, .datos_cat{
    text-align: left;
}
.datos_img{
    width: 22.67px;
    height: 25.5px;
    top: 4.25px;
    left: 5.67px;
    /* padding: var(--spacing-8); */
}