/*   MAIN  */
.cart-container {
  margin: 30px auto;
  max-width: 1200px;
  background-color: var(--light-bg-solid);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.cart-container__elements {
  display: grid;
  gap: var(--spacing-20);
  grid-template-columns: repeat(1, 1fr);
}

.cart-title {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 5px solid var(--primary-solid);
}

.cart-container__elements-title {
  border-radius: 10px;
  background: var(--light-bg-solid);
  box-shadow: 0px 0px 10px 0px var(--dark-300);
  margin-top: var(--spacing-28);
}

.cart-container__title-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: var(--spacing-24);
}

.cart-container__title-list li {
  font-family: var(--base-font);
  font-size: var(--font-small);
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: var(--spacing-20); */
  padding: 0 var(--spacing-16) 0 var(--spacing-16);
}

.cart-container__elements-items {
  border-radius: 10px;
  background: var(--light-bg-solid);
  box-shadow: 0px 0px 10px 0px var(--dark-300);
  margin-top: var(--spacing-28);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-detail-container {
  display: flex;
  width: 400px;
  align-items: center;
  padding: var(--spacing-16);
}

.cart-quantity-container,
.cart-total-container {
  display: flex;
  flex-direction: column;
}

.cart-item__total-price {
  padding: 0 var(--spacing-36) 0;
  margin: var(--spacing-12);
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item__img {
  margin-right: 10px;
  max-width: 100px;
}

.cart-item__content {
  flex: 1;
  width: 273px;
}

.card-item__img img {
  width: 118.76px;
  height: 118px;
  margin-right: var(--spacing-8);
}

.cart-item__title {
  font-family: var(--base-font);
  font-size: var(--font-large);
  text-transform: uppercase;
  font-weight: 700;
}

.cart-item__licence {
  font-family: var(--base-font);
  font-size: var(--font-medium);
  text-transform: uppercase;
  font-weight: 300;
}

.cart-item__price {
  font-family: var(--base-font);
  font-size: var(--font-xsmall);
  text-transform: uppercase;
  font-weight: 300;
}

.cart-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--spacing-36);
}

.cart-input-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-input {
  width: 90px;
  height: 44px;
  text-align: center;
}

.cart-input-btn {
  width: 20px;
  height: 20px;
  margin: 2px;
  background-color: var(--primary-solid);
  border: none;
  color: var(--light-font-solid);
  font-size: var(--font-small);
  text-align: center;
  cursor: pointer;
}

.cart-item__exit {
  margin: var(--spacing-12);
}

.cart-item__exit-btn {
  border: solid 1px var(--primary-solid);
  color: var(--light-font-solid);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  color: var(--primary-solid);
  font-size: var(--font-small);
  font-weight: 200;
  cursor: pointer;
}

/* RESUME */
.resume {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.cart-title__two {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 5px solid var(--primary-solid);
  padding-top: var(--spacing-68);
}

.cart-resume__items-container {
  width: 572px;
  height: auto;
  padding: var(--spacing-28);
  border-radius: 10px;
  background-color: var(--light-bg-solid);
  box-shadow: 0px 0px 10px 0px var(--dark-300);
  gap: var(--spacing-24);
  margin-top: var(--spacing-24);
}

.cart-resume__items {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-20);
}

.resume-text {
  text-align: left;
  font-family: var(--base-font);
  font-size: var(--font-small);
  text-transform: uppercase;
  font-weight: 600;
  padding-top: var(--spacing-20);
}

.resume-value {
  text-align: right;
  font-family: var(--base-font);
  font-size: var(--font-small);
  color: var(--dark-500);
  text-transform: uppercase;
  font-weight: 700;
  padding-top: var(--spacing-20);
}

#resume-text__total {
  font-size: var(--font-medium);
  font-weight: 700;
}

.cart-resume__items-total {
  border-top: 2px solid var(--primary-solid);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.cart-item__tag {
  width: 572px;
  font-size: var(--font-jumbo);
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
  margin: var(--spacing-12) 0 var(--spacing-12);
  text-align: center;
  padding: var(--spacing-12);
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .cart-container__elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }

  .cart-container__title-list,
  .cart-detail-container,
  .cart-item__content,
  .cart-item,
  .cart-quantity-container,
  .cart-total-container,
  .cart-item__exit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cart-container__elements-items {
    display: grid;
  }
  .resume {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .cart-resume__items-container,
  .cart-item__tag {
    width: auto;
    height: auto;
  }
}
