.login-title {
  text-align: center;
  color: #1f1f1f;
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.68px;
}

.form-login {
  width: 457px;
  margin: 36px auto;
  font-size: var(--font-large);
  font-family: var(--base-font);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  background-color: "red";
}
.form-login input {
  border: none;
  border-bottom: 2px solid var(--primary-solid);
}

::placeholder {
  color: #b9b9b9;
  font-family: var(--base-font);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.64px;
}
.login-submit {
  display: flex;
  gap: 45px;
  justify-content: center;
  align-items: center;
}
.login-submit p {
  color: #1f1f1f;
  font-family: var(--base-font);
  font-size: var(--font-medium);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.remember {
  display: flex;
  gap: 15px;
}
button {
  background-color: #ff3333;
  border: none;
  width: 102.995px;
  height: 39.062px;
  color: var(--light-font-solid);
  font-family: var(--base-font);
  font-size: var(--font-xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.forgot-password {
  text-align: center;
  padding: 36px;
  color: #1d84b5;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
