<%- include('../../partials/header') %>
  <main class="cart-container">
    <h2 class="cart-title">carrito de compras</h2>
    <section class="cart-container__elements">
      <section class="cart-container__elements-title">
        <ul class="cart-container__title-list">
          <li>
            <h4>detalle de producto</h4>
          </li>
          <li>
            <h4>cantidad</h4>
          </li>
          <li>
            <h4>total</h4>
          </li>
          <li>
            <h4></h4>
          </li>
        </ul>
      </section>
      <section class="cart-container__elements-items">
        <div class="cart-detail-container">
          <div class="cart-item">
            <picture class="card-item__img">
              <img src="/img/star-wars/baby-yoda-1.webp"
                alt="Figura coleccionable de Funko de Grogu de la serie The Mandalorian"></a>
            </picture>

            <div class="cart-item__content">
              <h2 class="cart-item__title">baby yoda blueball</h2>
              <h4 class="cart-item__licence">star wars</h4>
              <br>
              <p class="cart-item__price">precio: $1799.99</p>
            </div>
          </div>
        </div>

        <div class="cart-quantity-container">
          <div class="cart-input-container">
            <input type="number" class="cart-input" id="quantity-one" value="1" min="0" max="100" step="1" readonly>
            <div class="cart-input-btn-container">
              <button class="cart-input-btn" id="increment-one">+</button>
              <button class="cart-input-btn" id="decrement-one">-</button>
            </div>
          </div>
        </div>

        <div class="cart-total-container">
          <h2 class="cart-item__total-price">$ 1799.99</h2>
        </div>
        <div class="cart-item__exit">
          <button class="cart-item__exit-btn">X</button>
        </div>
      </section>

      <section class="cart-container__elements-items">
        <div class="cart-detail-container">
          <div class="cart-item">
            <picture class="card-item__img">
              <img src="/img/pokemon/pidgeotto-1.webp"
                alt="Figura coleccionable de Funko de Grogu de la serie The Mandalorian"></a>
            </picture>
            <div class="cart-item__content">
              <h2 class="cart-item__title">pidgeotto</h2>
              <h4 class="cart-item__licence">pokemon</h4>
              <br>
              <p class="cart-item__price">precio: $ 1799.99</p>
            </div>
          </div>
        </div>
        <div class="cart-quantity-container">
          <div class="cart-input-container">
            <input type="number" class="cart-input" id="quantity-two" value="1" min="0" max="100" step="1" readonly>
            <div class="cart-input-btn-container">
              <button class="cart-input-btn" id="increment-two">+</button>
              <button class="cart-input-btn" id="decrement-two">-</button>
            </div>
          </div>
        </div>
        <div class="cart-total-container">
          <h2 class="cart-item__total-price">$ 1799.99</h2>
        </div>
        <div class="cart-item__exit">
          <button class="cart-item__exit-btn">X</button>
        </div>
      </section>
    </section>

    <section class="resume">
      <div>
        <h2 class="cart-title__two">Resumen</h2>
      </div>
      <div class="cart-resume__items-container">
        <div class="cart-resume__items">
          <div class="resume-text">Cantidad de elementos</div>
          <div class="resume-value">1</div>
        </div>
        <div class="cart-resume__items">
          <div class="resume-text">subtotal</div>
          <div class="resume-value">$1799.99</div>
        </div>
        <div class="cart-resume__items">
          <div class="resume-text">Envio</div>
          <div class="resume-value">$0.00</div>
        </div>
        <div class="cart-resume__items-total">
          <div class="resume-text" id="resume-text__total">total</div>
          <div class="resume-value">$1799.99</div>
        </div>
      </div>
      <span class="cart-item__tag">IR A PAGAR</span>
    </section>
  </main>

  <%- include('../../partials/footer') %>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="../js/script-cart.js"></script>