<footer class="footer">
    <% if (!isLogged) { %>
        <nav class="navbar container">
            <ul class="navbar__items">
                <li class="navbar__item"><a class="navbar__link" href="/shop">SHOP</a></li>
                <li class="navbar__item"><a class="navbar__link" href="/auth/login">INGRESAR</a></li>
                <li class="navbar__item"><a class="navbar__link" href="">CONTACTO</a></li>
                <li></li>
            </ul>
            <picture>
                <img src="/img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop" />
            </picture>
        </nav>
        <% } else { %>
            <nav class="navbar container">
                <ul class="navbar__items">
                    <li class="navbar__item">
                        <a class="navbar__link" href="/shop">SHOP</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="/auth/register">REGISTRARSE</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="/auth/login">INGRESAR</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="">CONTACTO</a>
                    </li>
                </ul>

                <picture>
                    <img src="../img/branding/isotype.svg" alt="Isotipo de la Marca Funkoshop">
                </picture>
            </nav>
            <% } %>

                <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
</footer>
</body>

</html>