<%- include('../../partials/header') %>
    <main class="container" id="admin-main">
        <section class="">
            <form action="" class="form-product-search">
                <figure class=""><img src="/img/icons/search_icon.svg" alt="Ícono de búsqueda"></figure>
                <input type="text" name="" id="" class="input-product-search" placeholder="Código, nombre o categoria">
            </form>
        </section>
        <section>
            <div class="cont-title">
                <h2 class="product-list-title">LISTADO DE PRODUCTOS</h2>
                <div class="cont-add-product">
                    <p class="p-add">AGREGAR</p>
                    <button class="btn-add"></button>
                </div>
            </div>
            <div class="cont-articles">
                <ul class="cont-grid-titles">
                    <li class="id-title">
                        <h3>ID</h3>
                    </li>
                    <li>
                        <h3>Código</h3>
                    </li>
                    <li>
                        <h3>Nombre del Producto</h3>
                    </li>
                    <li>
                        <h3>Categoria</h3>
                    </li>
                </ul>
                <article>
                    <ul class="container cont-article">
                        <li class="id-article">1</li>
                        <li>STW001001</li>
                        <li>Baby Yoda Blueball</li>
                        <li>STAR WARS</li>
                        <li class="cont-btns"> <button class="btn-edit"></button>
                            <button class="btn-delete"></button>
                        </li>
                    </ul>
                </article>
                <article>
                    <ul class="cont-article">
                        <li>2</li>
                        <li>STW001001</li>
                        <li>Baby Yoda Blueball</li>
                        <li>STAR WARS</li>
                        <li class="cont-btns"> <button class="btn-edit"></button>
                            <button class="btn-delete"></button>
                        </li>
                    </ul>
                </article>
                <article>
                    <ul class="cont-article">
                        <li>3</li>
                        <li>STW001001</li>
                        <li>Baby Yoda Blueball</li>
                        <li>STAR WARS</li>
                        <li class="cont-btns"> <button class="btn-edit"></button>
                            <button class="btn-delete"></button>
                        </li>
                    </ul>
                </article>
                <article>
                    <ul class="cont-article">
                        <li>4</li>
                        <li>STW001001</li>
                        <li>Baby Yoda Blueball</li>
                        <li>STAR WARS</li>
                        <li class="cont-btns"> <button class="btn-edit"></button>
                            <button class="btn-delete"></button>
                        </li>
                    </ul>
                </article>
                <article>
                    <ul class="cont-article">
                        <li>5</li>
                        <li>STW001001</li>
                        <li>Luna Lovegood Lion Mask</li>
                        <li>HARRY POTTER</li>
                        <li class="cont-btns"> <button class="btn-edit"></button>
                            <button class="btn-delete"></button>
                        </li>
                    </ul>
                </article>
                <article>
                    <ul class="cont-article">
                        <li>6</li>
                        <li>STW001001</li>
                        <li>Baby Yoda Blueball</li>
                        <li>STAR WARS</li>
                        <li class="cont-btns"> <button class="btn-edit"></button>
                            <button class="btn-delete"></button>
                        </li>
                    </ul>
                </article>
                <article>
                    <ul class="cont-article">
                        <li>7</li>
                        <li>STW001001</li>
                        <li>Baby Yoda Blueball</li>
                        <li>STAR WARS</li>
                        <li class="cont-btns"> <button class="btn-edit"></button>
                            <button class="btn-delete"></button>
                        </li>
                    </ul>
                </article>
                <article>
                    <ul class="cont-article">
                        <li>8</li>
                        <li>STW001001</li>
                        <li>Baby Yoda Blueball</li>
                        <li>STAR WARS</li>
                        <li class="cont-btns"> <button class="btn-edit"></button>
                            <button class="btn-delete"></button>
                        </li>
                    </ul>
                </article>
                <article>
                    <ul class="cont-article">
                        <li>9</li>
                        <li>STW001001</li>
                        <li>Baby Yoda Blueball</li>
                        <li>STAR WARS</li>
                        <li class="cont-btns"> <button class="btn-edit"></button>
                            <button class="btn-delete"></button>
                        </li>
                    </ul>
                </article>
                <article>
                    <ul class="cont-article">
                        <li>10</li>
                        <li>STW001001</li>
                        <li>Baby Yoda Blueball</li>
                        <li>STAR WARS</li>
                        <li class="cont-btns"> <button class="btn-edit"></button>
                            <button class="btn-delete"></button>
                        </li>
                    </ul>
                </article>
                <article>
                    <ul class="cont-article">
                        <li>11</li>
                        <li>STW001001</li>
                        <li>Baby Yoda Blueball</li>
                        <li>STAR WARS</li>
                        <li class="cont-btns"> <button class="btn-edit"></button>
                            <button class="btn-delete"></button>
                        </li>
                    </ul>
                </article>
                <article>
                    <ul class="cont-article">
                        <li>12</li>
                        <li>STW001001</li>
                        <li>Baby Yoda Blueball</li>
                        <li>STAR WARS</li>
                        <li class="cont-btns"> <button class="btn-edit"></button>
                            <button class="btn-delete"></button>
                        </li>
                    </ul>
                </article>
                <article>
                    <ul class="cont-article">
                        <li>13</li>
                        <li>STW001001</li>
                        <li>Baby Yoda Blueball</li>
                        <li>STAR WARS</li>
                        <li class="cont-btns"> <button class="btn-edit"></button>
                            <button class="btn-delete"></button>
                        </li>
                    </ul>
                </article>
            </div>


        </section>
    </main>
    <%- include('../../partials/footer') %>