<%- include('../../partials/header') %>
    <main class="edit-item__section container">
        <h2 class="edit-item__title">EDITAR ITEM</h2>
        <form action="" class="form-item">
            <div class="cont-categ-license">
                <div class="cont-categ">
                    <label for="categoria" class="form-label">Categoria</label>
                    <select name="categoria" id="" class="form-select">
                        <option value="">Seleccionar</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </div>
                <div class="cont-licence">
                    <label for="license" class="form-label">Licencia</label>
                    <select name="license" id="" class="form-select">
                        <option value="">Seleccionar</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>

                </div>
            </div>
            <div>
                <label for="nombre-producto" class="form-label">Nombre del producto:</label>
                <input type="text" name="nombre-producto" id="" class="form-input input-product-name"
                    placeholder="Kakashi Hatake Shippuden Saga">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Descripción del producto"></textarea>
            <div class="cont-sku-price-stock">
                <div>
                    <label for="sku" class="form-label">SKU:</label>
                    <input type="text" name="sku" id="" class="form-input" placeholder="SSK111AB001">
                </div>
                <div>
                    <label for="precio" class="form-label">Precio:</label>
                    <input type="number" name="precio" class="form-input" placeholder="$0.000,00">
                </div>
                <div>
                    <label for="stock" class="form-label">Stock:</label>
                    <input type="number" name="stock" class="form-input input-stock" placeholder="0">
                </div>
            </div>
            <div class="cont-desc-cuotas">
                <div>
                    <label for="discount" class="form-label">Descuento:</label>
                    <input type="number" name="discount" id="" class="form-input input-desc" placeholder="0%">
                </div>
                <div>
                    <label for="cuotas" class="form-label">Cuotas</label>
                    <select name="cuotas" id="" class="form-select">
                        <option value="">3 Cuotas sin interés</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </div>
            </div>
            <div>
                <label for="images" class="form-label">Imágenes:</label>
                <input type="file" name="images" id="" class="input-img">
            </div>
            <div class="cont-uploaded-img">
                <div class="cont-uploaded-img-front">
                    <figure class="cont-img">
                        <img src="../img/pokemon/charmander-1.webp" alt="">
                    </figure>
                    <p class="img-subtitle">Frente</p>
                </div>
                <div class="cont-uploaded-img-back">
                    <figure class="cont-img">
                        <img src="../img/pokemon/charmander-box.webp" alt="">
                    </figure>
                    <p class="img-subtitle">Dorso</p>
                </div>

            </div>

            <div>
                <button class="form-btn">Modificar Producto</button>

            </div>

        </form>
    </main>
    <%- include('../../partials/header') %>